@{
  Layout = "_Layout";
}
<div class="formContainer">
  <form class="" action="/" method="post">
  <label for="">Enter Your Word Here</label>
      <input type="text" name="testWord" value="">
      <br>
  <label for="">Enter Your Phrase Here</label>
  <input type="text" name="targetString" value="">
      <button type="submit" class="btn btn-primary" name="button">Submit</button>
  </form>
</div>
@if (@Model.GetTestWord() != "")
{
<div class="resultContainer">
  <h2>Your word @Model.GetTestWord()</h2>
  <h2>Appeared  @Model.GetRepeats() times</h2>
</div>
}
